body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(real_img.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(0px);
}

h1{
  font-size: 3rem;
  color: rgb(105, 105, 105);
  
  transition: all 1s;

}

h1:hover{
  text-shadow: 4px 4px 5px rgb(65, 65, 65);
}

hr{
  border-color: rgb(156, 53, 16);
  border-width: 3px;
  max-width: 500px;
}

.buffer{
  height: 2rem;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary{
  background-color: #973e2f;
  border-color: rgb(107, 77, 57);
}

.btn-primary:hover{
  background-color: rgb(214, 68, 68);
  border-color: rgb(107, 57, 57);
}


.btn-xl{
  padding: 1rem 2rem;
}
